<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Detail Contact : {{ contact.nom }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" *ngIf="contact">
  <ion-item>
    <ion-label>Nom</ion-label>
    <ion-input type="text" value="{{contact.nom}}" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Prenom</ion-label>
    <ion-input
      type="text"
      value="{{contact.prenom}}"
      disabled="true"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input
      type="email"
      value="{{contact.email}}"
      disabled="true"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Tel</ion-label>
    <ion-input type="Tel" value="{{contact.phone}}" disabled="true"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Adresse</ion-label>
    <ion-input
      type="text"
      value="{{contact.adresse}}"
      disabled="true"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ville</ion-label>
    <ion-input
      type="text"
      value="{{contact.ville}}"
      disabled="true"
    ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Service</ion-label>
    <ion-input
      type="text"
      value="{{contact.service}}"
      disabled="true"
    ></ion-input>
  </ion-item>
  <ion-button expand="block" fill="outline" (click)="modifierContact()">
    Modifier
  </ion-button>
  <ion-button expand="block" fill="outline" (click)="supprimerContact()">
    Supprimer
  </ion-button>
  <ion-button expand="block" fill="outline" (click)="partagerContact()">
    Partager
  </ion-button>
</ion-content>
