<ion-header> </ion-header>

<ion-content style="padding: 100px">
  <h1 class="ion-text-center">Welcome to my Contact</h1>

  <span class="ion-text-center">
    Made with ❤️ by
    <a style="color: brown" href="https://www.github.com/AbdelhakimMhioul">
      Mhioul Abdelhakim
    </a>
    and
    <a style="color: brown" href="https://www.github.com/BoutainaAmer">
      Amer Boutaina
    </a>
  </span>

  <span class="ion-text-center">
    <a
      style="color: brown"
      href="https://www.github.com/AbdelhakimMhioul/contact-app"
    >
      Github Repository
    </a>
  </span>

  <span class="ion-text-center"> Encadré par Mr. Rachad Taoufik </span>
</ion-content>
