<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-avatar
    (click)="chooseBetweenCameraOrGallery()"
    style="text-align: center"
  >
    <img
      *ngIf="profile?.image; else placeholder_avatar"
      [src]="profile.image"
    />

    <ng-template #placeholder_avatar>
      <div class="placeholder_avatar">
        <ion-icon name="person"></ion-icon>
      </div>
    </ng-template>
  </ion-avatar>
  <ion-item>
    <ion-label style="color: gray">Nom</ion-label>
    <ion-input type="text" [(ngModel)]="profile.nom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: gray">Prenom</ion-label>
    <ion-input type="text" [(ngModel)]="profile.prenom"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: gray">Email</ion-label>
    <ion-input type="email" [(ngModel)]="profile.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label style="color: gray">Phone</ion-label>
    <ion-input type="tel" [(ngModel)]="profile.phone"></ion-input>
  </ion-item>
  <ion-button expand="block" fill="outline" (click)="updateProfile()">
    Update Profile
  </ion-button>
</ion-content>
