<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Liste des Contacts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of contacts" (click)="detailsContact(item)">
      <ion-thumbnail slot="start">
        <ion-img [src]="item.src"></ion-img>
      </ion-thumbnail>
      <ion-label>{{item.nom}} {{item.prenom}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="ajouterContact()">
      <ion-icon name="add-circle-outline" end right></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
